.btn{
    width: 50px;
    box-shadow: 1px 1px 1px 1px blue;
}

#input{
    width: 215px;
}

h1{
    text-shadow: 1px 1px 4px red;
}

body{
    font-family: "Nanum Gothic", sans-serif !important;
}